*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(60, 145, 224);
}
.container{
    display: inline-block;
    height: 350px;
    width: 450px; 
    background-color:transparent;
    position: absolute; 
    top: 180px;
    left: 460px;
    border: 2px solid white;
}
.moon{
    height: 150px;
    width: 150px;
    background-color: rgb(1, 124, 155);
    position:absolute;
    margin:auto;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    border-radius: 50%;
    box-shadow: inset -20px 10px 10px rgba(0, 0, 0, 0.3), inset 0px 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.outline{
    height:250px;
    width:250px;
    border-radius: 50%;
    background-color: transparent;
    position:absolute;
    margin: auto;
    top: 0px;
    left:0px;
    right: 0px;
    bottom:0px;
    animation: spin 5s infinite linear ;
}
@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}
.holes1{
    height:20px;
    width:20px;
    background-color: rgb(12, 59, 88);
    border-radius: 50%;
    position: relative;
    top: 20px;
    left: 30px;
}
.holes1::before{
    content: "";
    position: absolute;
    top:2px;
    left:5px;
    background-color: rgb(1, 124, 155);
    height: 15px;
    width:15px;
    border-radius: 50%;
}
.holes2{
    height:20px;
    width:20px;
    background-color:rgb(12, 59, 88);
    border-radius: 50%;
    position: relative;
    top: 60px;
    left: 120px;
}
.holes2::before{
    content: "";
    position: absolute;
    top:2px;
    left:5px;
    background-color: rgb(1, 124, 155);
    height: 15px;
    width:15px;
    border-radius: 50%;
}
.holes3{
    height:10px;
    width:10px;
    background-color:rgb(12, 59, 88);
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 30px;
}
.holes3::before{
    content: "";
    position: absolute;
    top:2px;
    left:4px;
    background-color: rgb(1, 124, 155);
    height: 6px;
    width:6px;
    border-radius: 50%;
}
.holes4{
    height:18px;
    width:18px;
    background-color:rgb(12, 59, 88);
    border-radius: 50%;
    position: relative;
    top: 60px;
    left: 50px;
}
.holes4::before{
    content: "";
    position: absolute;
    top:2px;
    left:4px;
    background-color: rgb(1, 124, 155);
    height: 14px;
    width:14px;
    border-radius: 50%;
}
.holes5{
    height:10px;
    width:10px;
    background-color:rgb(12, 59, 88);
    border-radius: 50%;
    position: relative;
    top: -30px;
    left: 55px;
}
.holes5::before{
    content: "";
    position: absolute;
    top:2px;
    left:4px;
    background-color: rgb(1, 124, 155);
    height: 6px;
    width:6px;
    border-radius: 50%;
}
.holes6{
    height:10px;
    width: 10px;
    background-color:rgb(12, 59, 88);
    border-radius: 50%;
    position: relative;
    position: relative;
    top: -65px;
    left: 60px;
}
.holes6::before{
    content: "";
    position: absolute;
    top:2px;
    left:4px;
    background-color: rgb(1, 124, 155);
    height: 6px;
    width:6px;
    border-radius: 50%;
}
.holes7{
    height:10px;
    width:10px;
    background-color:rgb(12, 59, 88);
    border-radius: 50%;
    position: relative;
    top:30px;
    left: 95px;
}
.holes7::before{
    content: "";
    position: absolute;
    top:2px;
    left:4px;
    background-color: rgb(1, 124, 155);
    height: 6px;
    width:6px;
    border-radius: 50%;
}
.holes8{
    height:5px;
    width:5px;
    background-color:rgb(12, 59, 88);
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: 20px;
}
.holes8::before{
    content: "";
    position: absolute;
    top:1px;
    left:2px;
    background-color: rgb(1, 124, 155);
    height: 2px;
    width:2px;
    border-radius: 50%;
} 
.holes9{
    height:10px;
    width:10px;
    background-color:rgb(12, 59, 88);
    border-radius: 50%;
    position: relative;
    top:-70px;
    left: 100px;
}
.holes9::before{
    content: "";
    position: absolute;
    top:2px;
    left:4px;
    background-color: rgb(1, 124, 155);
    height: 6px;
    width:6px;
    border-radius: 50%;
}
.leye{
    height: 8px;
    width: 8px;
    border-radius: 50% ;
    background-color: black;
    position: absolute;
    top:70px;
    left: 58px;
}
.reye{
    height: 8px;
    width: 8px;
    border-radius: 50% ;
    background-color: black;
    position: absolute;
    top:70px;
    left: 87px;
}
.mouth{
    height: 3px;;
    width: 10px;
    background-color:transparent;
    border: 2px solid black;
    position: absolute;
    top:85px;
    left: 70px;
    border-top: none;
    border-radius: 0 0 15px 15px ;
}
.blush1{
    height: 6px;
    width: 6px;
    border-radius: 50% ;
    background-color: rgb(12, 59, 88);
    position: absolute;
    top:80px;
    left: 48.5px;
    filter: blur(2px);
}
.blush2{
    height: 6px;
    width: 6px;
    border-radius: 50% ;
    background-color: rgb(12, 59, 88);
    position: absolute;
    top:80px;
    left: 98px;
    filter: blur(2px);
}
.rocket{
    height:60px;
    width:30px;
    background-color: white;
   border-radius: 50% 50% 0 0;
    position: relative;
    top:80px;
    right:10px;
}
.rocket::before{
    content: "";
    height:20px;
    width:55px;
    background-color:  rgb(0, 17, 255);
    position: absolute;
    bottom: 0px;
    left:-13px;
    border-radius: 50% 50% 0 0 ;
    z-index: -1;
}
.rocket::after{
    content: "";
    position: absolute;
    height:6px;
    width:20px;
    background-color: rgb(0, 17, 255);
    bottom:-6px;
    left:5px;
}
.window{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}